* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(254, 213, 220);
    position: relative;
    
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    max-width: 500px;
    margin: 20px;
}

h1 {
    font-size: 2em;
    color: #e94d58;
    margin: 15px 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.container .gif {
    max-width: 200px;
}

.container .btn {
    display: flex;
    gap: 25px;
    font-size: 1.2em;
    
}

.btn a {
    text-decoration: none;
    width: 150px;
    color: #ffffff;
    background: #fff;
    padding: 10px 25px;
    border-radius: 30px;
    box-shadow: 0.5rem 1rem 3rem hsl(0, 0%, 0%, 0.3);
    background: #fe5964;
       
}


.heart-corner {
    height: 30px;
    width: 30px;
    background: #f20044;
    position: absolute;
    top: 30px;
    right: 32px;
    transform: rotate(-45deg);
    box-shadow: -5px 5px 25px #f20044;
    animation: heart 0.6s linear infinite;
}

.heart-corner::before {
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    background: #f20044;
    top: -15px;
    left: 0;
    border-radius: 50%;
    box-shadow: -5px -5px 25px #f20044;
}

.heart-corner::after {
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    background: #f20044;
    top: 0;
    left: 15px;
    border-radius: 50%;
    box-shadow: 5px 5px 25px #f20044;
}


.heart-inline {
    display: inline-block;
    height: 20px;
    width: 20px;
    background: #f20044;
    position: relative;
    transform: rotate(-45deg);
    /* box-shadow: -5px 5px 15px #f20044; */
    animation: heart 0.6s linear infinite;
    margin-left: 8px; /* Space between text and heart */
}

.heart-inline::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background: #f20044;
    top: -10px;
    left: 0;
    border-radius: 50%;
    /* box-shadow: -5px -5px 15px #f20044; */
}

.heart-inline::after {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background: #f20044;
    top: 0;
    left: 10px;
    border-radius: 50%;
    /* box-shadow: 5px 5px 15px #f20044; */
}

/* Shared animation */
@keyframes heart {
    0% {
        transform: rotate(-45deg) scale(1.1);
    }
    80% {
        transform: rotate(-45deg) scale(1.0);
    }
    100% {
        transform: rotate(-45deg) scale(0.9);
    }
}
